# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
vir_env/

.DS_Store

prioritizer.egg-info

# Ignore the projects we use to test the prioritizer as they are cloned from other open-source repos. 
projects/

# Ignore python_smells_detector codebase since it is cloned from another repo.
python_smells_detector/

.last_project

# Environmental variables to be ignored by Git.
.env